extends layout

block content
  h2(class="com-header") Leave a Comment:
  if error
    span(class="error-message") !{error}
  form(class="write-comment" method='POST' action='/create')
    input(type="text" name='task', id='task', required)
    button(type='submit' id='submit-comment' onclick='disable()') Submit 
  

  section(class="comment-list")
    ol
    each val in todos
      li
        span(class="timestamp") !{val.formattedDate} <br> 
        span(class="posted-comment") !{val.task}

    if todos.length < totalCount
      a(class="load-more" href="/comments.pug?offset=" + (offset + 3)) Load More

  script.
    function disable() {
      document.getElementById('submit-comment').style.visibility = 'hidden';
    }
