doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/other.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
  body
    header
      img(class="logo-img", src="images/logo-dark.png", alt="Downtown Donuts Company Logo", width="200")
      nav
        a(href="/", tabindex="1") Home
        a(href="menu.html", tabindex="2") Menu
        a(href="about.html", tabindex="3") About Us
        a(class="active-page") Leave a Comment
    block content
  footer
    a(href="https://www.ubereats.com" target="_blank") UberEats
    a(href="https://www.doordash.com" target="_blank") DoorDash
    a(href="https://www.ups.com" target="_blank") UPS
    span(class="italianno-regular") Downtown Donuts
