main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

section {
    border-bottom: 5px solid var(--saffron);
    width: 100vw;
    display: block;
    line-height: 300%;
}

.coffee-menu {
    background-color: var(--saffron);
}

table {
    margin: 0 auto;
}

.menu-option {
    background-color: var(--saffron);
    text-align: left;
    width: 80vw;
    /* border: 2px solid var(--cool-gray); */
    margin: 0.5em auto;
    padding: 1em 3em;
}