/* MENU PAGE */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Donut/Coffee sections for the menu */
h1 {
    text-align: center;
}

section {
    border-bottom: 5px solid var(--saffron);
    width: 100vw;
    display: block;
    line-height: 300%;
}

.coffee-menu {
    background-color: var(--saffron);
    padding-bottom: 4em;
}

/* Table of Coffee/Prices*/
table {
    margin: 0 auto;
}

/* Each donut on the menu */
.menu-option {
    background-color: var(--saffron);
    text-align: left;
    width: 50vw;
    margin: 0.5em auto;
    padding: 1em 3em;
}

.price {
    float: right;
    position: relative;
}


/* ABOUT US SECTION */
.main-about {
    font-size: larger;
}

.hero, .mission {
    background-color: var(--dark-green);
    color: var(--seasalt);
    text-align: center;
    padding: 4em 8em;
}

.history {
    text-align: right;
    padding: 4em 8em;
}

.history img {
    float: left;
    padding-top: 0;
}

.mission {
    text-align: left;
}

.mission img {
    position: relative;
    left: -5vw;
    float: right;
    padding-top: 0;
}

/* COMMENTS PAGE */
.comment-list {
    display: grid;
    place-items: center;
    background-color: var(--beige);
    line-height: 120%;
}

/* Each posted comment */
li {
    background-color: var(--seasalt);
    width: fit-content;
    list-style: none;
    margin: 1% 0;
    border: solid 2px var(--cool-gray);
    border-radius: 5px;
    box-shadow: 5px 5px 0px var(--saffron);
    padding: 0.5em;
    max-width: 60vw;
}

.timestamp {
    font-size: smaller;
    color: var(--cool-gray);
}

/* Page header for comments */
.com-header {
    text-align: center;
    padding: 3%;
}

.load-more {
    display: block;
    text-align: center;
    margin: 2em auto;
    padding: 0.5em 1em;
    background-color: var(--saffron);
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0px var(--cool-gray);
}

.load-more:hover {
    background-color: var(--seasalt);
}

/* Form for writing comments */
.write-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 2em auto;
    gap: 1em;
}

/* The text area for comments */
#task {
    text-align: left;
    font-size: medium;
    width: 30vw;
    height: 5vw;
    border: 2px solid var(--saffron);
    border-radius: 5px;
    background-color: var(--beige);
}

/* Button to submit a new comment */
#submit-comment {
    background-color: var(--saffron);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 1em;
}
