:root {
  --dark-green: #10291D; /* for dark backgrounds or sections on pages */
  --saffron: #F7C64A; /* for dividing lines & decorative elements, and the logo */
  --seasalt: #F7F7F7; /* for backgrounds and text on colored backgrounds */
  --cool-gray: #8C92AC; /* for tertiary elements and small details */
  font-family: 'Montserrat', sans-serif;
  background-color: var(--seasalt);
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 200;
  src: url('Montserrat/static/Montserrat-Black.ttf') format('ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
  background-color: var(--dark-green);
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  padding-top: 2em;
  position: relative;
  border-bottom: 5px solid var(--cool-gray);
}

.logo-img {
  display: block;
  top: 5rem;
  z-index: 10;
  max-width: 100%;
  height:auto;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
}

/* navigation links */
nav a {
  font-family: 'Montserrat', sans-serif;
  color: var(--seasalt);
  text-decoration: none;
  margin: 0.5em;
  padding: 0.5em;
}

nav a:hover {
  color: var(--saffron);
}

.active-page, .active-page:hover {
  color: var(--cool-gray);
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bg-img {
  display: grid;
  position: relative;
  z-index: 5;
}

.bg-img img {
  grid-area: 1 / 1;
  position: relative;
  display: inline;
}

.donut-img1 {
  opacity: 0;
  animation: 10s slide ease infinite;
  animation-delay: 5s;
}

.donut-img2 {
  animation: 10s slide ease infinite
}

@keyframes slide {
  0% {opacity: 0; left: 40vw; z-index: 15;}
  15% {opacity: 100;}
  90% {opacity: 100;}
  100% {opacity: 0; left: -5vw; z-index: 2};
}

section {
  background-color: var(--seasalt);
  float: left;
  position: relative;
  line-height: 170%;
  font-size: large;
  padding: 10em;
  z-index: 10;
}

footer {
  position: relative;
  padding: 5em;
  font-size: large;
}